<html> 
<head>    
      <title>Sortable Person List</title>   
    </head> 
<body>     <h1>Person List</h1> 
    <a href="{% url 'insert' %}"><button>Insert Random Data</button></a> 
    <form method="GET"> 
        <label for="sort">Sort by:</label> 
        <select name="sort">               <option value="-" >-</option> 
            <option value="name" >Name</option> 
            <option value="age" >Age</option> 
            <option value="email" >Email</option> 
        </select> 
        <label for="order">Order:</label> 
        <select name="order">               <option value="-" >-</option> 
            <option value="asc" >Ascending</option> 
            <option value="desc" >Descending</option> 
        </select> 
        <button type="submit">Sort</button> 
    </form> 
    <table border="1"> 
        <tr> 
            <th>Name</th> 
            <th>Age</th> 
            <th>Email</th> 
        </tr> 
        {% for person in persons %}
        <tr> 
            <td>{{ person.name }}</td> 
            <td>{{ person.age }}</td> 
            <td>{{ person.email }}</td> 
        </tr> 
        {% endfor %} 
    </table> 
</body> 
</html>